<header>
    <h1>FNAK</h1>
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Accueil</a>
        <a routerLink="/test" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Route test</a>
        <a routerLink="/catalogue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Catalogue</a>
        <a routerLink="/vendeurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Nos vendeurs</a>
        <a routerLink="/mescommandes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Mes commandes</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Contactez-nous</a>
    </nav>
</header>