<div class="product-display" *ngIf="product">
    <div class="picture">
        <img [src]="product.imgUrl">
    </div>
    <div class="product-infos">
        <h1>{{ product.name }}</h1>
        <h2>{{ product.brand | uppercase }}</h2>
        <p>{{ product.category }}</p>
    </div>
    <div class="buy">
        <p>{{ product.price }} {{ product.currency }}</p>
        <button (click)="details()">Détails du produit</button>
        <button (click)="ajoutPanier()">Ajouter au panier</button>
    </div>
</div>



